

<div class="jumbotron">
  <h1 class="display-4">Sistema de Cadastro</h1>
  <p class="lead">Esta é uma simples ferramenta de cadastro.</p>
  <a class="btn btn-primary btn-lg" href="/alunos/formulario" role="button">Cadastrar</a>
  <a class="btn btn-primary btn-lg" href="/alunos" role="button">Lista dos Alunos</a>
  <a class="btn btn-primary btn-lg" href="/administrador/" role="button">Área adminstrativa</a>
</div>