<div class="jumbotron">
  <h1 class="display-4">Ãrea administrativa</h1>
  <a class="btn btn-primary btn-lg" href="/administrador/registro" role="button">Cadastrar Administrador</a>
  <a class="btn btn-primary btn-lg" href="/administrador/lista" role="button">Lista dos Administradores</a>
</div>